body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
}

header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #38bdf8;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 30px;
    background-color: #020617;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
    border-top: 2px solid #38bdf8;
}
